@tailwind base;
@tailwind components;
@tailwind utilities;

/**
  * MAIN SCROLLBAR
  *
  */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-light rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#FFEFE8];
}

/**
  * CUSTOM CLASSES
  *
  */
.flex-center {
  @apply flex items-center justify-center;
}

@layer base {

  /** 
   * TEXT SIZES
   *
   */
  h1 {
    @apply font-display;
  }

  h2 {
    @apply font-display;
  }

  h3 {
    @apply font-body font-light;
  }

  h4 {
    @apply font-body font-light;
  }

  h5 {
    @apply font-body font-light;
  }

  h6 {
    @apply font-body font-light;
  }

  p {
    @apply font-body font-light;
  }

  /**
   * FONT FAMILY
   *
   */
  /* NUNITO SANS */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(fonts/NunitoSans_10pt-ExtraLight.ttf);
  }

  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(fonts/NunitoSans_10pt-Light.ttf);
  }

  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/NunitoSans_10pt-Regular.ttf);
  }

  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(fonts/NunitoSans_10pt-Medium.ttf);
  }

  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(fonts/NunitoSans_10pt-SemiBold.ttf);
  }

  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/NunitoSans_10pt-Bold.ttf);
  }

  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(fonts/NunitoSans_10pt-ExtraBold.ttf);
  }

  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(fonts/NunitoSans_10pt-Black.ttf);
  }

  /* STAATLICHES */
  @font-face {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Staatliches-Regular.ttf);
  }
}